<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homebrew Heaven</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <!-- fontawesome (get rid of this icon eventually) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
  <!-- tittilium font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap" rel="stylesheet">


    <!-- local minimized bootstrap with custom variables and mixins -->
    <link rel="stylesheet" href="/css/main.min.css">
    <!-- custom overrides -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="container-fullwidth">  <nav class="navbar navbar-expand-md navbar-dark bg-light">
    <div class="container-fluid"><a href="/">
   <img class="img-fluid" src="/imgs/download.jpeg" h alt=""></a><span class="navbar-text-primary">Social Recipe Sharing</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
<!-- collapsible links -->
      <div class="collapse navbar-collapse" id="navbar1">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link-primary" aria-current="page" href="/feed">Feed </a>
          </li>
          <li class="nav-item">
            <a class="nav-link-primary" href="/profile">Profile</a>
          </li> 
          <li class="nav-item">
          </li>
        </ul>
        <form>
        <!-- Havent actually implemented search yet -->
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
        <a class="button col-1 btn btn-primary mx-auto" href="/logout">Logout</a>
      </div>
    </div>
  </nav>
    </header>
  </body>
</html>
