<%- include('partials/header') -%>

<main class="container">
        <div class="container-fluid p-0">
            <div class="row">
            <div class="col-6"><img src="/imgs/logo.png" class="img-fluid" alt="corporate art style logo of two people standing in front of equipment"></div>
            <div class="col-4">
            <h2>Welcome to Homebrew Heaven</h2>
        <p>A place for homebrewers and professional brewers alike to share pictures, recipes, and comments on all things fermented. </p>
        </div>
        </div>
    </div>
        
    </div>
    <div class="container-fluid">
        <div class="row justify-content-around mx-auto">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
    </div>
</main>
    

<%- include('partials/footer') -%>