<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around">
        <h2>Welcome to Homebrew Heaven</h2>
        <p>A place for homebrewers and professional brewers alike to share pictures, recipes, and comments on all things fermented. </p>
    </div>
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>