<%- include('partials/header') -%>

<main class="container">
        <div class="container-fluid p-0">
            <div class="row">
            <div class="col-12 col-sm-8"><img src="/imgs/logo.png" class="img-fluid" alt="corporate art style logo of two people standing in front of equipment"></div>
            <div class="col-4 align-items-center mx-auto my-auto">
            <h2 class="display-3">Welcome to Homebrewr</h2>
        <p class="lead">&nbsp&nbspFrom novice brewers to experienced professionals, our community is a place for everyone to share their love of brewing and learn from each other. Come join us and discover new recipes, techniques, and insights!</p>
        </div>
        </div>
    </div>
        
    </div>
    <div class="container-fluid">
        <div class="row justify-content-around mx-auto">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
    </div>
</main>
    

<%- include('partials/footer') -%>