@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
body{
    font-family: 'Titillium Web', sans-serif;
    color:  rgb(20,36,87);
    background-color: rgb(241,241,241);
}
i{
    size:40px;
}
.navbar-brand{
    margin-left:15px;
}
.card {
    margin-right: .25rem !important ;
    margin-left: .25rem !important;
    

}
.nav-link-primary, .navbar-text-primary{
    text-decoration: none;
    margin-right: 1rem;
    font-size:larger;
    font-weight: 600;
}
.btn-primary{
    min-inline-size:80px;
    max-inline-size:300px;
}